#blogs.col.s12.m12.l4
  h5 Latest blogs

  include ./preloader.jade

  ul.stagger

  a.modal-trigger.btn.waves-effect.waves-light.z.lighten-1(href='#subscribe') Subscribe

  #subscribe.modal
    .modal-content
      h4 Modal Header
      p A bunch of text

    .modal-footer
      a.btn.modal-action.modal-close.waves-effect.waves-light.btn-flatteal.lighten-1(href="#!") Agree

  #view.modal
    .modal-content
      h4 Blog Title
      p Lorem ipsum dolor sit amet.

    .modal-footer
      a.btn.modal-action.modal-close.waves-effect.waves-light.btn-flatteal.lighten-1(href="#!") Close
