- var items = []
- items.push({ href: '#intro', text: 'About me' })
- items.push({ href: '#projects', text: 'Projects' })
- items.push({ href: '#contact', text: 'Contact' })

footer.page-footer.teal
  .container
    .row
      .col.s12.m6.l6
        h5.white-text Quick links
        ul
          for item in items
            li
              a.white-text(href=item.href) #{item.text}


        iframe(src="https://ghbtns.com/github-btn.html?user=soundscape&type=follow&size=large" frameborder="0" scrolling="0" width="220px" height="30px")

      .col.s12.m6.l6.white-text
        h5.white-text Contact info

        h6.mdi-action-home Address
        p Nr. 13, 323 York Avenue, Johannesburg, SA
        h6.mdi-hardware-phone-android Phone Number
        p +27 78 246 9605
        h6.mdi-action-open-in-browser Website
        p sublime-dev.firebaseapp.com

  .footer-copyright
    .container
      | Made by&nbsp;
      a.brown-text.text-lighten-3(href='#intro') Shaun Farrell
