- var items = []
- items.push({ href: '#!', text: 'Link 1' })
- items.push({ href: '#!', text: 'Link 2' })
- items.push({ href: '#!', text: 'Link 3' })
- items.push({ href: '#!', text: 'Link 4' })

- var lists = 3

footer.page-footer.teal
  .container
    .row

      while lists > 0
        .col.l4.m4.s6
          h5.white-text Links #{lists}

          ul
            for item in items
              li
                a.white-text(href=item.href) #{item.text}

        - lists--

  .footer-copyright
    .container
      | Made by&nbsp;
      a.brown-text.text-lighten-3(href='#!') Soundscape
