.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h3.header.col.s12.cyan-text.text-lighten-1
          i.mdi-content-send

        h5.header.col.s12.light Contact me

  .parallax

    img(src='assets/images/background2.jpg')
    //img(src='http://lorempixel.com/g/1024/768/abstract?section=contact')
    //img(src='assets/images/background3.jpg', alt='Unsplashed background img 3')

.container
  #contact.scrollspy.section

    .row
      form.col.s12
        .row
          .input-field.col.s6
            input#first_name.validate(type="text")
            label(for="first_name") First Name

          .input-field.col.s6
            input#last_name.validate(type="text")
            label(for="last_name") Last Name

        .row
          .input-field.col.s12
            input#email.validate(type="email" required="")
            label(for="email") E-mail

        textarea.materialize-textarea(placeholder="Your Message" required="")
        button.btn.waves-effect.waves-light.right(type="submit" name="action")
          | Submit
          i.mdi-content-send.right
