.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light Section caption

  .parallax
    img(src='assets/images/background3.jpg', alt='Unsplashed background img 3')

.container
  .section
    .row
      .col.l8.s12.center
        h3
          i.mdi-content-send

        h4 Contact me

        p.left-align.light Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      .col.l4.s12.center
        h3
          i.mdi-content-send

        h4 Latest blogs

        p.left-align.light Lorem ipsum dolor sit amet, consectetur adipiscing elit.
