#index-banner.parallax-container
  .section.no-pad-bot
    .container
      br
      br

      h1.header.center.teal-text Shaun Farrell

      .row.center
        h5.header.col.s12.light Web Developer

      .row.center
        a.btn-large.waves-effect.waves-light(href='#contact') Contact me

      br
      br

  .parallax
    img(src='assets/images/background22.jpg')

.container
  #intro.section.scrollspy
    .row
      .col.s12.center
        h5 About me

        p.flow-text.light Hi there! I am Shaun Farrell and welcome to my portfolio. I am a web developer with over 10 years experience in the .NET stack. NodeJS is currently my personal favourite, with Java not far behind. I am currently studying distributed systems through
          a(href="http://www.extension.harvard.edu/" target="_blank") Harvard Extension School
          |.
