#index-banner.parallax-container
  .section.no-pad-bot
    .container
      br
      br

      h1.header.center.teal-text.text-lighten-2 Section caption

      .row.center
        h5.header.col.s12.light Section tagline

      .row.center
        a.btn-large.waves-effect.waves-light.teal.lighten-1(href='#') Action

      br
      br

  .parallax
    img(src='assets/images/background1.jpg', alt='Unsplashed background img 1')

.container.hide-on-med-and-down
  .section
    .row
      .col.s12.center
        h3
          i.mdi-content-send

        h4 Bio

        p.left-align.light Lorem ipsum dolor sit amet, consectetur adipiscing elit.
