#index-banner.parallax-container
  .section.no-pad-bot
    .container
      br
      br

      h1.header.center.teal-text Shaun Farrell

      .row.center
        h5.header.col.s12.light Web Developer

      .row.center
        a.btn-large.waves-effect.waves-light(href='#contact') Contact me

      br
      br

  .parallax
    img(src='assets/images/background22.jpg')
    //img(src='http://lorempixel.com/g/1024/768/abstract?section=intro')
    //img(src='assets/images/background1.jpg', alt='Unsplashed background img 1')

.container
  #intro.section.scrollspy
    .row

      .col.s12.center
        h5 About me

        p.flow-text.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie.
