- var items = []
- items.push({ title: 'Project 1', description: 'Lorem ipsum dolor sit amet.', img: 'assets/images/background15.png', url: '#!' })
- items.push({ title: 'Project 2', description: 'Lorem ipsum dolor sit amet.', img: 'assets/images/background4.jpg', url: '#!' })
- items.push({ title: 'Project 3', description: 'Lorem ipsum dolor sit amet.', img: 'assets/images/background5.jpg', url: '#!' })

.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h3.header.col.s12.lime-text.text-lighten-1
          i.mdi-content-send

        h5.header.col.s12.light Featured projects

  .parallax
    img(src='assets/images/background2.jpg', alt='Unsplashed background img 2')

.container
  #projects.section.scrollspy
    .row
      .col.s12.center

    #projects.row
