.parallax-container.valign-wrapper.hide-on-med-and-down
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light Section caption

  .parallax
    img(src='assets/images/background2.jpg', alt='Unsplashed background img 2')

.container
  .section
    .row
      .col.s12.center
        h3
          i.mdi-content-send

        h4 Featured projects

        p.left-align.light Lorem ipsum dolor sit amet, consectetur adipiscing elit.
