.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h3.header.col.s12.cyan-text.text-lighten-1
          i.mdi-content-send

        h5.header.col.s12.light Featured projects

  .parallax
    img(src='assets/images/background26.jpg')
    //img(src='http://lorempixel.com/g/1024/768/abstract?section=projects')
    //img(src='assets/images/background2.jpg', alt='Unsplashed background img 2')

.container
  #projects.section.scrollspy
    .row
      .col.s12.center
