doctype html
html(lang="en")
  head
    title Sublime portfolio

    include includes/meta.jade

    include includes/favicons.jade

    link(rel="stylesheet" href="app.css")

  body.no-select

    include includes/nav.jade

    include includes/parallax/intro.jade
    include includes/parallax/projects.jade
    include includes/parallax/contact.jade

    include includes/footer.jade

    include includes/scripts.jade
